/* =====Reseteo Basico===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{color: rgb(239, 240, 224);}
p{color: rgb(16, 17, 1);}

ul,
ol {
    list-style: none;
}

a {
    color: rgb(128, 18, 18);
    text-decoration: none;
}

/* ======Header===== */
header {
    background-color: rgb(156, 106, 59);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

/* =====Color de fondo generico===== */
.main {
    background-color: rgb(238, 182, 28);
    ;
}

/* =====Index===== tuve problemas para cofigurar el tamaño de los videos a medida que crecia la resolucion de pantalla


/* =====footer===== */
footer {
    background-color: rgb(199, 142, 19);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======Menu====== */

.tarjetaproducto {
    border: 2px solid rgb(15, 8, 1);
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px
    ;
}

.tarjetaproducto h4,
.tarjetaproducto span{font-size: 24px;}
.tarjetaproducto img{width:100%;}

/* =====Nosotros===== */

.nosotros img{box-sizing: content-box;
width: 400px;
height: 400px;}